---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* type scale */
$type-size-1: 1.1em !default; // ~39.056px
$type-size-2: 1em !default; // ~31.248px
$type-size-3: 0.9em !default; // ~25.008px
$type-size-4: 0.8em !default; // ~20px 1.25em
$type-size-5: 0.7em !default; // ~16px
$type-size-6: 0.68em !default; // ~12px
$type-size-7: 0.65em !default; // ~11px
$type-size-8: 0.6em !default; // ~10px