---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* type scale */
$type-size-1: 2.2em !default;
$type-size-2: 1.8em !default;
$type-size-3: 1.5em !default;
$type-size-4: 1.2em !default;
$type-size-5: 1.1em !default;
$type-size-5b:0.9em !default;
$type-size-6: 0.8em !default;
$type-size-7: 0.8em !default;
$type-size-8: 0.625em !default;

/* headline scale */
$h-size-1: 1.1em !default; // ~25.008px
$h-size-2: 1.08em !default; // ~20px
$h-size-3: 1.06em !default; // ~18px
$h-size-4: 1.03em !default; // ~17px
$h-size-5: 1em !default; // ~16.5px
$h-size-6: 0.75em !default; // ~16px

$doc-font-size: 11 !default;